@tailwind base;
@tailwind components;
@tailwind utilities;

*::after,
*,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --accent-color: #7c3aed;
}
@layer components {
  .hero__btn {
    @apply px-6 py-4 rounded-full border border-[#242424] uppercase text-[10px] tracking-widest text-gray-400 hover:border-purple-400 hover:text-purple-500 font-semibold md:text-xs;
  }
}

::-webkit-scrollbar {
  width: 0.225rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7c3aed;
}

